.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    width: 100vw;
    background-color: #ffb6b6;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 10%;
    background: rgb(28, 199, 252);
}

.users-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}