.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    width: 100vw;
    background-color: #ffffff;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 10%;
    background: rgb(28, 199, 252);
}

.users-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}